PUBLIC_SANITY_PROJECT_ID=""
PUBLIC_SANITY_DATASET=""

# PUBLIC is a misnomer here. This is necessary because Svelte
# does not let us inject a private environment variable into
# a client environment. In this case, this is the sanity.ts
# file in lib.
PUBLIC_DEVELOPER_TOKEN=""
