.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.DS_Store
node_modules
packages/frontend/build
packages/frontend/.svelte-kit
packages/frontend/package
packages/frontend/.wrangler

.env
.env.local

.direnv

vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# JetBrains IDE
.idea

# Testing
coverage
test-results
