@font-face {
    font-family: 'Archivo Regular';
    font-style: normal;
    font-weight: 100 900;
    font-optical-sizing: auto;
    src: url('/fonts/latin/Archivo-Normal-Variable.woff2') format('woff2');
}

@font-face {
    font-family: 'Archivo Italic';
    font-style: italic;
    font-weight: 100 900;
    font-optical-sizing: auto;
    src: url('/fonts/latin/Archivo-Italic-Variable.woff2') format('woff2');
}

@font-face {
    font-family: 'Noto Serif Regular';
    font-style: normal;
    font-weight: 100 900;
    font-optical-sizing: auto;
    src: url('/fonts/latin/NotoSerif-Normal-Variable.woff2') format('woff2');
}

@font-face {
    font-family: 'Noto Serif Italic';
    font-style: italic;
    font-weight: 100 900;
    font-optical-sizing: auto;
    src: url('/fonts/latin/NotoSerif-Italic-Variable.woff2') format('woff2');
}
