/* ARABIC FONTS  */

@font-face {
	font-family: 'Noto Sans AR';
	src: url('/fonts/arabic/NotoSansArabic-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
	unicode-range: U+600-6FF;
}

@font-face {
	font-family: 'Mirza AR';
	src: url('/fonts/arabic/Mirza-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
	unicode-range: U+600-6FF;
}

@font-face {
	font-family: 'Mirza AR';
	src: url('/fonts/arabic/Mirza-Medium.woff2') format('woff2');
	font-style: normal;
	font-weight: 500;
	unicode-range: U+600-6FF;
}

@font-face {
	font-family: 'Mirza AR';
	src: url('/fonts/arabic/Mirza-SemiBold.woff2') format('woff2');
	font-style: normal;
	font-weight: 700;
	unicode-range: U+600-6FF;
}

/* Headline font */
@font-face {
	font-family: 'Rakkas AR';
	src: url('/fonts/arabic/Rakkas-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
	unicode-range: U+600-6FF;
}

/* CJK FONTS */

/* CHINESE  */

@font-face {
	font-family: 'Noto Sans SC';
	font-style: normal;
	font-weight: 100 900;
	src: url('/fonts/cjk/chinese/NotoSansSC-VariableFont_wght.woff2') format('woff2');
	unicode-range: +U4E00-9FD5;
}

@font-face {
	font-family: 'Noto Serif SC';
	font-style: normal;
	font-weight: 100 900;
	src: url('/fonts/cjk/chinese/NotoSerifSC-VariableFont_wght.woff2') format('woff2');
	unicode-range: U+4E00-9FD5;
}

/* JAPANESE  */

@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 100 900;
	src: url('/fonts/cjk/japanese/NotoSansJP-VariableFont_wght.woff2') format('woff2');
	unicode-range: U+A5, U+4E00-9FFF, U+30??, U+FF00-FF9F;
}

@font-face {
	font-family: 'Zen Antique JP';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/cjk/japanese/ZenAntique-Regular.woff2') format('woff2');
	unicode-range: U+A5, U+4E00-9FFF, U+30??, U+FF00-FF9F;
}

@font-face {
	font-family: 'Zen Old Mincho JP';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/cjk/japanese/ZenOldMincho-Bold.woff2') format('woff2');
	unicode-range: U+A5, U+4E00-9FFF, U+30??, U+FF00-FF9F;
}

@font-face {
	font-family: 'Zen Old Mincho JP';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/cjk/japanese/ZenOldMincho-Medium.woff2') format('woff2');
	unicode-range: U+A5, U+4E00-9FFF, U+30??, U+FF00-FF9F;
}

/* KOREAN */

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100 900;
	src: url('/fonts/cjk/korean/NotoSansKR-VariableFont_wght.woff2');
	unicode-range: U+AC00-D7AF;
}

@font-face {
	font-family: 'Nanum Myeongjo KR';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/cjk/korean/NanumMyeongjo-Regular.woff2');
	unicode-range: U+AC00-D7AF;
}

@font-face {
	font-family: 'Nanum Myeongjo KR';
	font-style: normal;
	font-weight: 800;
	src: url('/fonts/cjk/korean/NanumMyeongjo-Bold.woff2');
	unicode-range: U+AC00-D7AF;
}

@font-face {
	font-family: 'Nanum Myeongjo KR';
	font-style: normal;
	src: url('/fonts/cjk/korean/NanumMyeongjo-ExtraBold.woff2');
	font-weight: 900;
	unicode-range: U+AC00-D7AF;
}

@font-face {
	font-family: 'Gothic A1 KR';
	font-weight: 200;
	font-style: normal;
	src: url('/fonts/cjk/korean/GothicA1-Light.woff2') format('woff2');
	unicode-range: U+AC00-D7AF;
}

@font-face {
	font-family: 'Gothic A1 KR';
	font-weight: 100;
	font-style: normal;
	src: url('/fonts/cjk/korean/GothicA1-ExtraLight.woff2') format('woff2');
	unicode-range: U+AC00-D7AF;
}

/* LATIN FONTS */

@font-face {
	font-family: 'Archivo Regular';
	font-style: normal;
	font-weight: 100 900;
	src: url('/fonts/latin/Archivo-Normal-Variable.woff2') format('woff2');
}

@font-face {
	font-family: 'Archivo Italic';
	font-style: italic;
	font-weight: 100 900;
	src: url('/fonts/latin/Archivo-Italic-Variable.woff2') format('woff2');
}

@font-face {
	font-family: 'Noto Serif Regular';
	font-style: normal;
	font-weight: 100 900;
	src: url('/fonts/latin/NotoSerif-Normal-Variable.woff2') format('woff2');
}

@font-face {
	font-family: 'Noto Serif Regular';
	font-style: italic;
	font-weight: 100 900;
	src: url('/fonts/latin/NotoSerif-Italic-Variable.woff2') format('woff2');
}

@font-face {
	font-family: 'Space Mono Regular';
	font-style: normal;
	src: url('/fonts/latin/SpaceMono-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Space Mono Bold';
	font-style: normal;
	src: url('/fonts/latin/SpaceMono-Bold.woff2') format('woff2');
}

article {
	width: 100%;
	text-align: left;

	/* https://developer.mozilla.org/en-US/docs/Web/CSS/line-break */
	line-break: loose;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Noto Serif Regular', 'Noto Serif SC', 'Zen Old Mincho JP', 'Nanum Myeongjo KR', 'Mirza AR', serif;
	font-optical-sizing: auto;
}

h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

ol,
ul,
li,
p {
	font-family: 'Archivo Regular', 'Noto Sans SC', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans AR', sans-serif;
	font-optical-sizing: auto;
}

strong {
	font-weight: 600;
}

.hyphenate {
	/* Retrieved from: https://clagnut.com/blog/2395 */

	/*-webkit-hyphenate-limit-before: 3;*/
	/*-webkit-hyphenate-limit-after: 3;*/
	/*-webkit-hyphenate-limit-chars: 6 3 3;*/
	/*-webkit-hyphenate-limit-lines: 2;*/
	/*-webkit-hyphenate-limit-last: always;*/
	/*-webkit-hyphenate-limit-zone: 8%;*/

	/*hyphenate-limit-lines: 2;*/
	/*hyphenate-limit-last: always;*/
	/*hyphenate-limit-zone: 8%;*/

	hyphenate-limit-chars: 6 3 3;
	word-wrap: break-word;
	overflow-wrap: break-word;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

a:link,
a:visited,
a:active {
	color: var(--link-color);
	font-weight: 400;
}

.newSerif {
	font-family: 'Noto Serif EN'
}

.font-monospace {
	font-family: 'Space Mono Regular'
}

.serif {
	font-family: 'Noto Serif Regular', 'Noto Serif SC', serif;
}

.serif-headline {}

.sans-headline {}
