# Deploys the frontend website on a new release
name: Deploy to Production

on:
  release:
    types:
      - published # Trigger only when a release is published

jobs:
  build:
    name: Build artifacts
    runs-on: ubuntu-${{vars.RUNNER_VERSION}}
    environment: production
    env:
      SANITY_API_VERSION: ${{ vars.SANITY_API_VERSION }}
      SANITY_DATASET: ${{ vars.SANITY_STUDIO_DATASET }}
      SANITY_STUDIO_TITLE: ${{ vars.SANITY_STUDIO_TITLE }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v5
      - name: "Setup Node.js with Yarn"
        uses: ./.github/actions/setup-node

      - name: Build frontend for production
        run: yarn workspace frontend build:production

      - name: Build cms for production
        run: yarn workspace cms build

      # Cache the build after all is said and done.
      # This build will be used in the following jobs.
      - name: Cache build
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # ratchet:actions/cache@v4
        with:
          path: ./*
          key: ${{ github.sha }}-${{ github.run_number }}

  deploy:
    name: Deploy to production environment
    needs: build
    runs-on: ubuntu-${{ vars.RUNNER_VERSION }}
    environment: production
    env:
      SANITY_API_VERSION: ${{ vars.SANITY_API_VERSION }}
      SANITY_DATASET: ${{ vars.SANITY_STUDIO_DATASET }}
      SANITY_STUDIO_TITLE: ${{ vars.SANITY_STUDIO_TITLE }}
    permissions:
      contents: read
      deployments: write

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v5
      - name: "Setup Node.js with Yarn"
        uses: ./.github/actions/setup-node
      - name: Restore build
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # ratchet:actions/cache@v4
        with:
          path: ./*
          key: ${{ github.sha }}-${{ github.run_number }}
      - name: Deploy to Cloudflare Workers
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # ratchet:cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          workingDirectory: "packages/frontend"
          command: deploy --env production
      - name: Deploy to Sanity Studio
        run: yarn workspace cms sanity deploy
