name: "Production Testing"

on:
  workflow_dispatch:
  schedule:
    # Everyday 5 AM China Standard Time.
    # See: https://savvytime.com/converter/cst-asia-to-utc-hi-honolulu
    - cron: "0 21 * * *"

jobs:
  test:
    name: "Playwright tests"
    runs-on: ubuntu-${{vars.RUNNER_VERSION}}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v5
      - name: "Setup Node.js with Yarn"
        uses: ./.github/actions/setup-node

      - name: "Install playwright"
        run: "yarn workspace frontend playwright install --with-deps chromium"

      - name: "Execute tests"
        run: "yarn workspace frontend test-ci:production"
