name: Fast-Forward Staging

on:
  workflow_dispatch:

jobs:
  merge-dev-to-staging:
    if: ${{ github.ref_name == 'dev' }}
    name: Fast-Forward Merge dev to staging
    runs-on: ubuntu-${{ vars.RUNNER_VERSION }}
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v5
        with:
          fetch-depth: 0 # Ensure full history is fetched for merging

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Fast-Forward Merge
        run: |
          git checkout staging
          git merge --ff-only origin/dev || {
            echo "Fast-forward merge failed. Ensure dev branch is up-to-date.";
            exit 1;
          }
          git push origin staging
